spring:
  application:
    name: accounts-service

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public
    enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/accounts
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  data:
    jpa:
      repositories:
        enabled: true

server:
  port: 8081