spring:
  application:
    name: config-server

  profiles:
    active: native

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo/

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8888

logging:
  level:
    org.springframework.cloud.config: DEBUG
